<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <form method="POST" action="{% url 'materias:update' materia.id %}">
        {% csrf_token %}
        <div>
            <label>Nombre de la materia: </label>
            "{{materia.nombre}}"
        </div><br>
        <div>
            <label>horario: </label>
            <input type="text" name="horario" value="{{materia.horario}}">
        </div><br>
        <input type="submit" name="submit" value="submit">
    </form>
</body>
</html>